body {
    font-family: 'Open Sans', sans-serif;
}

.wrapper {
    width: 1250px;
    margin: 0 auto;

    @media screen and (max-width: 1250px) {
        width: 100%;
    }
}

.hidden {
    display: none !important;
}

.button {
    appearance: none;

    width: 100%;
    padding: 12px 0;
    margin: 15px 0;

    border: none;
    border-radius: 20px;

    background-color: #0c67e8;

    text-align: center;
    color: #fff;
    font-size: 15px;
    font-weight: bold;
}

h1 {
    font-size: 30px;
    margin: 10px 0;
}

h2 {
    font-size: 25px;
    margin: 10px 0;
}

h3 {
    font-size: 18px;
    margin: 6px 0;
}