.header-cart {
    position: relative;

    background-image: url('./shopping-cart.png');
    background-repeat: no-repeat;
    width: 28px;
    height: 26px;

    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    border: none;
}

.header-cart:hover {
    cursor: pointer;
}

.header-cart__counter {
    position: absolute;
    border-radius: 50%;
    background-color: #dd3a39;

    width: 20px;
    height: 20px;
    bottom: -5px;
    left: -5px;

    color: #fff;
    font-size: 13px;
    text-align: center;
    line-height: 20px;
}