.login {
  display: flex;
  flex-direction: column;
  width: 372px;
  background: #fff;
  border-radius: 15px;
  margin: auto;

  &__head {
    background-image: url(bg.jpg);
    background-repeat: no-repeat;

    margin: 0;
    padding: 40px 35px;

    color: #fff;
    font-size: 40px;
    font-weight: bold;

    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
  }

  &__form {
    display: flex;
    flex-direction: column;
    justify-content: center;

    padding: 20px;
  }

  &__error {
    color: red;
  }

}

.keep {

  &__visual-box {
    width: 20px;
    height: 20px;

    border-radius: 3px;
    border: 1px solid #000;
  }

  &__checkbox {
    display: none;

    &:checked ~ .keep__checked {

    }
  }
}