.footer {
    width: 100%;
    background: #f7f7f7;
    padding: 65px 0 82px 0;
}

.footer .logo {
    flex: 1 0 auto;
}

.footer__wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
}