.footer-nav {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    flex: 2 0 auto;
    margin: 0 auto;
}

.footer-nav__submenu {
    display: flex;
    flex-direction: column;
    margin: 0 60px;
}

.footer-nav__item {
    font-size: 13px;
    color: #5e5e5e;
    margin: 7px 0;
}

.footer-nav__item_head {
    font-weight: bold;
    color: #393939;
    margin: 0 0 7px 0;
}

.footer-nav__link {
    color: #5e5e5e;
    text-decoration: none;
}

.footer-nav__link:hover {
    text-decoration: underline;
}
